@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br />


<button @onclick="(e)=>ShowHelloWorld()" @onclick:stopPropagation>Hello World</button>


@code{
    void ShowHelloWorld()
    {
        BlazorSession.Current.Alert("Greeting", "Hello World");
    }
}

