<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorLinuxAdmin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Console">
                <span class="oi oi-plus" aria-hidden="true"></span> Console
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Demo_Show_Info">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo_Show_Info
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FileTree">
                <span class="oi oi-list-rich" aria-hidden="true"></span> File Tree
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ProcessList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ProcessList
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GPIODevice">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GPIO Device
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CPUMonitor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CPU Monitor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tcpmaps">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TcpMaps
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
